<table>
    <%= form_for (@template) do |f| %>
    <tr>
        <td>テンプレート名（必須:MAX15文字）</td>
        <td><%= f.text_field :name, autofocus: true, maxlength: "15" %></td>
    </tr>
    <tr>
        <td>ジャンル(必須：公開先のジャンルになります)</td>
        <td></td>
    </tr>
    <tr>
        <td>色（必須）</td>
        <td><%= f.radio_button :color, "red lighten-3" %>赤</td>
        <td><%= f.radio_button :color, "blue lighten-3" %>青</td>
        <td><%= f.radio_button :color, "ight-blue lighten-3" %>水色</td>
        <td><%= f.radio_button :color, "eal lighten-3" %>緑</td>
        <td><%= f.radio_button :color, "yellow lighten-3" %>黄色</td>
    </tr>
</table>
<div class="field">
    
    <%= f.fields_for :template_items do |i| %>
       <%= i.text_field :itemname %>
        <%= link_to_remove_association "Remove this", i %>
    <% end %> 
    <%= link_to_add_association "template_item add", f, :template_items %>
</div>
        <%= f.hidden_field :user_id, value: current_user.id %>
    <%= button_tag type: "submit" do %>
              投稿する
    <% end %>
    <% end %>