<!DOCTYPE html>
<html>
<head>
  <title>Reviewapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <% Array(@templates).each do |template| %>
      <a href="/templates/<%= template.id %>/reviews/search"><%= template.name %></a><br/>
    <% end %>
  <% end %>
  <a href="/templates/new">テンプレート作成</a><br/>

<%= yield %>

<%= link_to "ログアウト", "/users/sign_out", method: :delete %>
</body>
</html>
